@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --base-color: #f6f8fa;
    --text-color: #0b132b;
    --primary-color: #5bc0be;
    --secondary-color: #6fffe9;
    --accent-color: #f4d35e;
    --hover-color: #1e8a9d;
    --font-primary: 'Open Sans', sans-serif;  
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: Open Sans, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: var(--text-color)
}
body{
    padding: 1em;
    background-color: var(--base-color);
}
h1, h2, h3, h4, h5, h6{
        font-family: 'Playfair Display', serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar1{
    margin: 1em auto 3em auto;
    margin-right: auto;
}

#navbar1 ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    font-weight: bold;
}

#navbar1 a{
    text-decoration: none;
    color: var(--text-color);
}

#navbar1 a:hover{
    color: var(--hover-color);
    transition: color 0.3s ease-in-out;
}
#navbar2{
    position: absolute;
    top: 0.3em;
    right: 1em;
}
#navbar2 ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}
.social-icon{
    vertical-align: middle;
}
.social-icon:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}